- if user_signed_in?
  #splash
    %h1 Welcome to OtherMail!
    #intro
      You can start sending emails to your Othermail right now. Take a moment to savour the sweet sweet taste of inbox freedom.
      - unless current_user.confirmed?
        %br
        %br
        Before you start getting summaries however, you still need to 
        %b confirm your account. 
        An email from us should arrive in your 
        actual inbox shortly with a link to confirm your account. Once you click that, we'll start sending you your Othermail summaries,
        and thats it!
    #email
      Your Othermail email is:
      #enticing= current_user.mask_email

.window
  %h1 Frequently Asked Questions

  %h3 What is OtherMail? 
  %p 
    OtherMail is a new email address which is perfect for giving out to newsletters, beta invitations and any other low priority email lists. OtherMail collects all of the email which is sent to your @Othermail.me email address and sends you a simple summary email as often as you would like.

  %h3 What is included in the Summary email? 
  %p
    The summary email you receive is very simple. It includes the name of the sender and the subject line of the email. This way you can quickly scan for any emails you are interested in receiving, select them to be sent to you in full and then move on with your day. 

  %h3 How will OtherMail help me manage my email better? 
  %p 
    Unlike most solutions to almost-spam and email overload, OtherMail doesn't rely on complicated software. Instead, OtherMail imposes a more efficient workflow for managing things like email newsletters, notifications et all. By collecting these things, away from your inbox, OtherMail reduces the amount of clutter and the frequency of distractions arriving in your inbox. By grouping them all together, OtherMail reduces the amount of context switching and mental overhead required to process these unimportant items. To learn more about the benefits of this way of working, we would suggest David Allen's Getting things Done or 
    %a(href="http://zenhabits.net")Zen Habits
    \.

  %h3 Aren't there countless other more powerful solutions to this problem
  %p 
    Rule matching, priority inboxes, throwaway email addresses and lots of other solutions exist to help address this same problem but in our experience they seem to add complexity instead of reducing it. OtherMail works regardless of the email service or client you use it with and there is nothing to set up, you just start giving out your @othermail.me address anytime you know the email you will be receiving is low priority. We built OtherMail to solve our own problems by imposing a more efficient way of processing low priority emails, not complicate our lives with more software. We hope you will find it as useful as we do. 

  %h3 How can I check my OtherMail inbox right now?
  %p
    Just email <b>check@othermail.me</b> from the email you get your summaries at, and a summary should arrive in your actual inbox shortly. Summaries will still continue to arrive on schedule.

  %h3 How can I unsubscribe from Othermail?
  %p
    Just click the "Unsubscribe from Othermail" link at the bottom of any email from us, or email <b>unsubscribe@othermail.me</b> from the email you get your summaries at. We'll still receive any email sent to your Othermail address and you'll still be able to check it by emailing <b>check@othermail.me</b>.

  %h3 Help! I didnt get a confirmation email!
  %p 
    That's weird. Did you check your spam folder? Did you wait a few minutes? If you still haven't gotten a confirmation email, you can resend it at the
    %a{:href => new_confirmation_path(:user)} Send Another Confirmation
    page.

  %h3 How can I get help using Othermail?
  %p 
    Email 
    %a(href="mailto:help@othermail.me") here
    to get a handy help email or
    %a(href="mailto:support@corp.othermail.me") here
    if you want to talk to a human.
