.index_splash
  .image
    %img{:class => "demo_email", :src => "/images/condense.png"}

  .explanation
    %h3 One Email
    %p OtherMail is the perfect solution to the stream of newsletters, beta invites, notifications and other almost-spam which floods your inbox. 
    %p OtherMail keeps all of these emails out of your inbox and delivers you one simple summary email as often as you would like.
