.index_splash
  .elevator
    %h2 Deal with fewer emails. Simplify your life.
    
    %a.sign_up{:href => sign_up_path, :title => "Get Othermail"}
    
    %hr
  
  .image
    %img{:class => "demo_email", :src => "/images/condense.png"}

  .explanation
    %h3 One Email
    %p Every other day OtherMail will send you one simple summary of all of the emails which were sent to your @othermail.me email address. 
    %p Pick the emails, if any, which you would like sent to you in-full and move on with your day. 
      
  .clear
    %hr

  .quote
    .words "With OtherMail, email alerts matter to me again"
    .person - Neil Voutt, operations director
