.learn_more_splash
  %h3 Simple
  %p 
    Every other day, OtherMail will send you a summary of the emails which have been sent to your @othermail.me address over the past 48 hours. OtherMail is not a new inbox to check, the summary email is sent to your existing email address. Inside the summary email you can choose which emails you would like to receive in full and they will immediatly be sent to you. 

  %h3 Slow
  %p 
    OtherMail slows the constant stream of updates, newsletters and notifications that are flooding your inbox. Collecting these other emails and handling them all at once will save you time and help you focus on everything else.  

  %h3 Protective
  %p 
    Give your OtherMail address to applications, newsletters, beta invitations, public forums and anything else you would like to keep out of your inbox. OtherMail protects your real email address from constant harrassment or worse, spam. 

  %h3 Premium
  %p 
    OtherMail isn’t expensive, but it’s not free. We only offer one level of service - premium. You may not want the emails sent to your OtherMail filling your inbox but you don’t want to miss them. We work hard to keep OtherMail running smoothly and it’s built on the same reliable technology which powers some of the worlds largest websites and email systems.

  %p 
    Our customers use OtherMail to reduce the amount of junk they have to process, not increase it. You will never see an advertisement in OtherMail.

  %p 
    Would you still like to learn more? Check our 
    %a{:href => faq_path} FAQ 
    or 
    %a(href="mailto:hello@othermail.me") email us,
    (we’ll get it right away).

