%h1 Listing messages

%table
  %tr
    %th To
    %th Subject
    %th
    %th

  - @messages.each do |message|
    %tr
      %td= message.to
      %td= message.subject
      %td= link_to 'Show', message
      %td= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete
