:javascript
  window.opener = window.opener ? window.opener : self;
  window.close();

:css
  .success {
    padding: 0.8em;
    margin-bottom: 1em;
    border: 2px solid #dddddd;
    background: #e6efc2;
    color: #264409;
    border-color: #c6d880;
  }
  
.success
  Your message(s) will be delivered shortly, you can close this window if it doesn't close itself. 
