/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 108, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #5d5d5d;
  font-size: 87.5%;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #4c4c4c;
}
/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p img.right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #000099;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:visited {
  color: #000066;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:focus {
  color: black;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:hover {
  color: black;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_link-colors.scss */
a:active {
  color: #cc0099;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong {
  font-weight: bold;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em {
  font-style: italic;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dfn {
  font-style: italic;
  font-weight: bold;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 83, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 84, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 3.333em;
}

/* line 90, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 91, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 92, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 93, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 94, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 95, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 97, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 98, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 99, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tr.even td {
  background: #e5ecf9;
}

/* line 100, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 102, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #909090;
}

/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #3b3b3b;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 8, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
.showgrid {
  background: url('/images/grid.png?1298774833');
}

/* line 20, ../../app/stylesheets/partials/_page.sass */
div.flash.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.error a {
  color: #8a1f11;
}
/* line 22, ../../app/stylesheets/partials/_page.sass */
div.flash.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.notice a {
  color: #514721;
}
/* line 24, ../../app/stylesheets/partials/_page.sass */
div.flash.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.success a {
  color: #264409;
}

/* line 26, ../../app/stylesheets/partials/_page.sass */
.highlight {
  background: yellow;
}

/* line 28, ../../app/stylesheets/partials/_page.sass */
.added {
  background: #006600;
  color: white;
}

/* line 30, ../../app/stylesheets/partials/_page.sass */
.removed {
  background: #990000;
  color: white;
}

/* line 33, ../../app/stylesheets/partials/_page.sass */
.hide {
  display: none;
}

/* line 41, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #eeeeee;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
div.colborder {
  padding-right: 39px;
  margin-right: 40px;
  border-right: 1px solid #eeeeee;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -54px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #container_footer {
  height: 54px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 54px;
}

/* line 44, ../../app/stylesheets/partials/_page.sass */
#container {
  overflow: hidden;
  *zoom: 1;
}
/* line 50, ../../app/stylesheets/partials/_page.sass */
#container .content {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
/* line 55, ../../app/stylesheets/partials/_page.sass */
#container .body {
  background: white;
  overflow: auto;
}

/* line 60, ../../app/stylesheets/partials/_page.sass */
header {
  width: 100%;
}
/* line 63, ../../app/stylesheets/partials/_page.sass */
header h1 {
  float: left;
}
/* line 65, ../../app/stylesheets/partials/_page.sass */
header nav {
  float: right;
}
/* line 67, ../../app/stylesheets/partials/_page.sass */
header nav li {
  float: left;
  list-style-position: none;
  list-style-type: none;
  margin-left: 15px;
}

/* line 73, ../../app/stylesheets/partials/_page.sass */
footer {
  width: 620px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 78, ../../app/stylesheets/partials/_page.sass */
.page, .window {
  overflow: hidden;
  *zoom: 1;
}

/* line 81, ../../app/stylesheets/partials/_page.sass */
.page {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 305px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page {
  overflow-x: hidden;
}
/* line 83, ../../app/stylesheets/partials/_page.sass */
.page + .page {
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page + .page {
  overflow-x: hidden;
}

/* line 86, ../../app/stylesheets/partials/_page.sass */
.window {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .window {
  overflow-x: hidden;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 31, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input[type=checkbox], form input.checkbox, form input[type=radio], form input.radio {
  position: relative;
  top: 0.25em;
}
/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 34, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea, form select {
  border: 1px solid #bbbbbb;
}
/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus, form select:focus {
  border: 1px solid #666666;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 9, ../../app/stylesheets/partials/_form.sass */
form div.input {
  margin-bottom: 10px;
}
/* line 12, ../../app/stylesheets/partials/_form.sass */
form label {
  float: left;
  width: 100px;
  text-align: right;
  margin: 9px 10px 2px 10px;
}
/* line 18, ../../app/stylesheets/partials/_form.sass */
form label.radio {
  margin-top: 0px;
}
/* line 20, ../../app/stylesheets/partials/_form.sass */
form label.collection_radio, form label.collection_check_boxes {
  float: none;
  display: block;
  margin: 3px 0px 0px 120px;
  vertical-align: -2px;
  width: 140px;
  text-align: left;
}
/* line 28, ../../app/stylesheets/partials/_form.sass */
div.boolean form label {
  float: none;
  margin: 0;
}
/* line 32, ../../app/stylesheets/partials/_form.sass */
form div.boolean, form input[type='submit'] {
  margin-left: 120px;
}
/* line 36, ../../app/stylesheets/partials/_form.sass */
form .field_with_errors input {
  border-color: #fbc2c4;
}
/* line 46, ../../app/stylesheets/partials/_form.sass */
form div.hint {
  clear: left;
  margin-left: 120px;
  font-size: 9px;
  color: #555555;
  display: block;
  font-style: italic;
}
/* line 55, ../../app/stylesheets/partials/_form.sass */
form input.radio {
  margin-right: 5px;
}
/* line 58, ../../app/stylesheets/partials/_form.sass */
form input.check_boxes {
  margin-left: 3px;
}
/* line 63, ../../app/stylesheets/partials/_form.sass */
form div.error {
  margin: 5px 0;
  padding: 2px;
  float: left;
  border-left: 0px;
}

/* line 15, ../../app/stylesheets/screen.sass */
body {
  background-color: white;
}

/* line 18, ../../app/stylesheets/screen.sass */
h1, h2, h3, a, a:visited {
  color: #5d5d5d;
}

/* line 21, ../../app/stylesheets/screen.sass */
a:hover {
  color: #8d8d8d;
}

/* line 24, ../../app/stylesheets/screen.sass */
header {
  padding-top: 40px;
  margin-bottom: 35px;
}
/* line 28, ../../app/stylesheets/screen.sass */
header .line {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: url("../images/header_border.png") repeat top left;
}
/* line 36, ../../app/stylesheets/screen.sass */
header h1 {
  margin: 9px 0px 0px -45px;
  font-size: 24px;
}
/* line 40, ../../app/stylesheets/screen.sass */
header h1 a {
  text-decoration: none;
}
/* line 43, ../../app/stylesheets/screen.sass */
header nav {
  margin-top: 20px;
  font-size: 14px;
}
/* line 46, ../../app/stylesheets/screen.sass */
header nav a {
  text-decoration: none;
}

/* line 49, ../../app/stylesheets/screen.sass */
#error_explanation h2 {
  font-size: 14px;
}

/* line 52, ../../app/stylesheets/screen.sass */
form#new_user {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user {
  overflow-x: hidden;
}
/* line 54, ../../app/stylesheets/screen.sass */
form#new_user .input {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 270px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user .input {
  overflow-x: hidden;
}
/* line 56, ../../app/stylesheets/screen.sass */
form#new_user .input + .input {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user .input + .input {
  overflow-x: hidden;
}
/* line 58, ../../app/stylesheets/screen.sass */
form#new_user .input input {
  width: 258px;
}
/* line 60, ../../app/stylesheets/screen.sass */
form#new_user .input select {
  width: 270px;
}
/* line 63, ../../app/stylesheets/screen.sass */
form#new_user input[type="submit"] {
  clear: both;
}
/* line 66, ../../app/stylesheets/screen.sass */
form#new_user .hint {
  margin: 0 auto;
  font-size: 12px;
}
/* line 71, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite input {
  width: 155px;
}
/* line 74, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite span.ghost {
  font-size: 12px;
}
/* line 76, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite span.write {
  color: white;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
/* line 79, ../../app/stylesheets/screen.sass */
form#new_user br {
  clear: both;
}
/* line 82, ../../app/stylesheets/screen.sass */
form#new_user input[type="submit"] {
  display: block;
  margin-left: 80px;
  width: 100px;
}

/* line 87, ../../app/stylesheets/screen.sass */
.register_email {
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .register_email {
  overflow-x: hidden;
}
/* line 89, ../../app/stylesheets/screen.sass */
.register_email img {
  -moz-box-shadow: #c2c2c2 0px 0px 5px 0px;
  -webkit-box-shadow: #c2c2c2 0px 0px 5px 0px;
  -o-box-shadow: #c2c2c2 0px 0px 5px 0px;
  box-shadow: #c2c2c2 0px 0px 5px 0px;
  border: 1px solid #c2c2c2;
  width: 100%;
}

/* line 94, ../../app/stylesheets/screen.sass */
#splash {
  margin-bottom: 1em;
  overflow: auto;
}
/* line 97, ../../app/stylesheets/screen.sass */
#splash #intro {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 305px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #splash #intro {
  overflow-x: hidden;
}
/* line 99, ../../app/stylesheets/screen.sass */
#splash #email {
  font-size: 18px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 138, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #splash #email {
  overflow-x: hidden;
}
/* line 102, ../../app/stylesheets/screen.sass */
#splash #enticing {
  margin: 10px;
  padding: 10px;
  border: 1px solid #3273ad;
  background-color: #33aad4;
  color: white;
}

/* line 111, ../../app/stylesheets/screen.sass */
.clear {
  clear: both;
}

/* line 119, ../../app/stylesheets/screen.sass */
.index_splash .elevator {
  width: 100%;
  position: relative;
  margin-top: 5px;
  z-index: 1;
}
/* line 124, ../../app/stylesheets/screen.sass */
.index_splash .elevator h2 {
  line-height: 1;
  font-size: 24px;
  margin-bottom: 15px;
  margin-top: 10px;
  /* old browsers */
  color: #0e0e0e;
  /* firefox */
  /* webkit */
  /* ie */
}
/* line 137, ../../app/stylesheets/screen.sass */
.index_splash .elevator hr {
  color: #c2c2c2;
  background-color: #c2c2c2;
  height: 1px;
}
/* line 142, ../../app/stylesheets/screen.sass */
.index_splash .elevator a.sign_up {
  position: absolute;
  top: -5px;
  right: 0px;
  text-decoration: none;
  background: url('/images/buttons.png?1301456529') no-repeat;
  width: 86px;
  height: 32px;
  overflow: hidden;
}
/* line 149, ../../app/stylesheets/screen.sass */
.index_splash .elevator a.sign_up:hover {
  background-position: 0px -32px;
}
/* line 151, ../../app/stylesheets/screen.sass */
.index_splash .elevator a.sign_up:active {
  background-position: 0px -64px;
}
/* line 154, ../../app/stylesheets/screen.sass */
.index_splash .image {
  float: left;
}
/* line 157, ../../app/stylesheets/screen.sass */
.index_splash .explanation {
  float: right;
  width: 253px;
}
/* line 161, ../../app/stylesheets/screen.sass */
.index_splash .explanation h3 {
  font-weight: bold;
  font-size: 18px;
  color: #272b2b;
  margin-bottom: 12px;
}
/* line 167, ../../app/stylesheets/screen.sass */
.index_splash .explanation p {
  text-align: justify;
  line-height: 1.2;
  color: #373c3c;
}
/* line 173, ../../app/stylesheets/screen.sass */
.index_splash .clear hr {
  margin-bottom: 10px;
}
/* line 176, ../../app/stylesheets/screen.sass */
.index_splash .quote {
  margin: 0px 50px 0px 50px;
}
/* line 178, ../../app/stylesheets/screen.sass */
.index_splash .quote .words {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: justify;
  font-size: 24px;
}
/* line 183, ../../app/stylesheets/screen.sass */
.index_splash .quote .person {
  text-align: right;
}
