/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica", "Arial", sans-serif;
  color: #5d5d5d;
  font-size: 87.5%;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #4c4c4c;
}
/* line 52, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}

/* line 53, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.50em;
}

/* line 54, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}

/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1.00em;
}

/* line 56, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

/* line 57, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.50em;
}

/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
h6 {
  font-size: 1em;
  font-weight: bold;
}

/* line 59, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p {
  margin: 0 0 1.5em;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .left {
  display: inline;
  float: left;
  margin: 1.5em 1.5em 1.5em 0;
  padding: 0;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
p .right {
  display: inline;
  float: right;
  margin: 1.5em 0 1.5em 1.5em;
  padding: 0;
}

/* line 62, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
a {
  text-decoration: underline;
  color: #0066cc;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #004c99;
}
/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #0099ff;
}
/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #0099ff;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #bf00ff;
}

/* line 63, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
blockquote {
  margin: 1.5em;
  color: #666666;
  font-style: italic;
}

/* line 64, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
strong, dfn {
  font-weight: bold;
}

/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
em, dfn {
  font-style: italic;
}

/* line 66, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 67, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted #666666;
}

/* line 68, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
address {
  margin: 0 0 1.5em;
  font-style: italic;
}

/* line 69, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
del {
  color: #666666;
}

/* line 70, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre {
  margin: 1.5em 0;
  white-space: pre;
}

/* line 71, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

/* line 72, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
li ul, li ol {
  margin: 0;
}

/* line 73, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

/* line 74, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 75, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 76, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl {
  margin: 0 0 1.5em 0;
}
/* line 77, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 78, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
dd {
  margin-left: 1.5em;
}

/* line 79, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table {
  margin-bottom: 1.4em;
  width: 100%;
}

/* line 80, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th {
  font-weight: bold;
}

/* line 81, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
thead th {
  background: #c3d9ff;
}

/* line 82, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
th, td, caption {
  padding: 4px 10px 4px 5px;
}

/* line 85, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
table.striped tr:nth-child(even) td,
table tr.even td {
  background: #e5ecf9;
}

/* line 86, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 87, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
caption {
  background: #eeeeee;
}

/* line 88, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.quiet {
  color: #909090;
}

/* line 89, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_typography.scss */
.loud {
  color: #3b3b3b;
}

/* line 9, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clear {
  clear: both;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.nowrap {
  white-space: nowrap;
}

/* line 16, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}

/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.small {
  font-size: 0.8em;
  margin-bottom: 1.875em;
  line-height: 1.875em;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.large {
  font-size: 1.2em;
  line-height: 2.5em;
  margin-bottom: 1.25em;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.first {
  margin-left: 0;
  padding-left: 0;
}

/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.last {
  margin-right: 0;
  padding-right: 0;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.top {
  margin-top: 0;
  padding-top: 0;
}

/* line 35, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_utilities.scss */
.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
.showgrid {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 630 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(10.913%, rgba(100, 100, 225, 0.25)), color-stop(10.913%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(23.413%, rgba(100, 100, 225, 0.25)), color-stop(23.413%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(0, 0, 0, 0)), color-stop(25%, rgba(100, 100, 225, 0.25)), color-stop(35.913%, rgba(100, 100, 225, 0.25)), color-stop(35.913%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(0, 0, 0, 0)), color-stop(37.5%, rgba(100, 100, 225, 0.25)), color-stop(48.413%, rgba(100, 100, 225, 0.25)), color-stop(48.413%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(100, 100, 225, 0.25)), color-stop(60.913%, rgba(100, 100, 225, 0.25)), color-stop(60.913%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(0, 0, 0, 0)), color-stop(62.5%, rgba(100, 100, 225, 0.25)), color-stop(73.413%, rgba(100, 100, 225, 0.25)), color-stop(73.413%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(0, 0, 0, 0)), color-stop(75%, rgba(100, 100, 225, 0.25)), color-stop(85.913%, rgba(100, 100, 225, 0.25)), color-stop(85.913%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(98.413%, rgba(100, 100, 225, 0.25)), color-stop(98.413%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68.75px, rgba(0, 0, 0, 0) 68.75px, rgba(0, 0, 0, 0) 78.75px, rgba(100, 100, 225, 0.25) 78.75px, rgba(100, 100, 225, 0.25) 147.5px, rgba(0, 0, 0, 0) 147.5px, rgba(0, 0, 0, 0) 157.5px, rgba(100, 100, 225, 0.25) 157.5px, rgba(100, 100, 225, 0.25) 226.25px, rgba(0, 0, 0, 0) 226.25px, rgba(0, 0, 0, 0) 236.25px, rgba(100, 100, 225, 0.25) 236.25px, rgba(100, 100, 225, 0.25) 305px, rgba(0, 0, 0, 0) 305px, rgba(0, 0, 0, 0) 315px, rgba(100, 100, 225, 0.25) 315px, rgba(100, 100, 225, 0.25) 383.75px, rgba(0, 0, 0, 0) 383.75px, rgba(0, 0, 0, 0) 393.75px, rgba(100, 100, 225, 0.25) 393.75px, rgba(100, 100, 225, 0.25) 462.5px, rgba(0, 0, 0, 0) 462.5px, rgba(0, 0, 0, 0) 472.5px, rgba(100, 100, 225, 0.25) 472.5px, rgba(100, 100, 225, 0.25) 541.25px, rgba(0, 0, 0, 0) 541.25px, rgba(0, 0, 0, 0) 551.25px, rgba(100, 100, 225, 0.25) 551.25px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68.75px, rgba(0, 0, 0, 0) 68.75px, rgba(0, 0, 0, 0) 78.75px, rgba(100, 100, 225, 0.25) 78.75px, rgba(100, 100, 225, 0.25) 147.5px, rgba(0, 0, 0, 0) 147.5px, rgba(0, 0, 0, 0) 157.5px, rgba(100, 100, 225, 0.25) 157.5px, rgba(100, 100, 225, 0.25) 226.25px, rgba(0, 0, 0, 0) 226.25px, rgba(0, 0, 0, 0) 236.25px, rgba(100, 100, 225, 0.25) 236.25px, rgba(100, 100, 225, 0.25) 305px, rgba(0, 0, 0, 0) 305px, rgba(0, 0, 0, 0) 315px, rgba(100, 100, 225, 0.25) 315px, rgba(100, 100, 225, 0.25) 383.75px, rgba(0, 0, 0, 0) 383.75px, rgba(0, 0, 0, 0) 393.75px, rgba(100, 100, 225, 0.25) 393.75px, rgba(100, 100, 225, 0.25) 462.5px, rgba(0, 0, 0, 0) 462.5px, rgba(0, 0, 0, 0) 472.5px, rgba(100, 100, 225, 0.25) 472.5px, rgba(100, 100, 225, 0.25) 541.25px, rgba(0, 0, 0, 0) 541.25px, rgba(0, 0, 0, 0) 551.25px, rgba(100, 100, 225, 0.25) 551.25px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68.75px, rgba(0, 0, 0, 0) 68.75px, rgba(0, 0, 0, 0) 78.75px, rgba(100, 100, 225, 0.25) 78.75px, rgba(100, 100, 225, 0.25) 147.5px, rgba(0, 0, 0, 0) 147.5px, rgba(0, 0, 0, 0) 157.5px, rgba(100, 100, 225, 0.25) 157.5px, rgba(100, 100, 225, 0.25) 226.25px, rgba(0, 0, 0, 0) 226.25px, rgba(0, 0, 0, 0) 236.25px, rgba(100, 100, 225, 0.25) 236.25px, rgba(100, 100, 225, 0.25) 305px, rgba(0, 0, 0, 0) 305px, rgba(0, 0, 0, 0) 315px, rgba(100, 100, 225, 0.25) 315px, rgba(100, 100, 225, 0.25) 383.75px, rgba(0, 0, 0, 0) 383.75px, rgba(0, 0, 0, 0) 393.75px, rgba(100, 100, 225, 0.25) 393.75px, rgba(100, 100, 225, 0.25) 462.5px, rgba(0, 0, 0, 0) 462.5px, rgba(0, 0, 0, 0) 472.5px, rgba(100, 100, 225, 0.25) 472.5px, rgba(100, 100, 225, 0.25) 541.25px, rgba(0, 0, 0, 0) 541.25px, rgba(0, 0, 0, 0) 551.25px, rgba(100, 100, 225, 0.25) 551.25px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0px, rgba(100, 100, 225, 0.25) 0px, rgba(100, 100, 225, 0.25) 68.75px, rgba(0, 0, 0, 0) 68.75px, rgba(0, 0, 0, 0) 78.75px, rgba(100, 100, 225, 0.25) 78.75px, rgba(100, 100, 225, 0.25) 147.5px, rgba(0, 0, 0, 0) 147.5px, rgba(0, 0, 0, 0) 157.5px, rgba(100, 100, 225, 0.25) 157.5px, rgba(100, 100, 225, 0.25) 226.25px, rgba(0, 0, 0, 0) 226.25px, rgba(0, 0, 0, 0) 236.25px, rgba(100, 100, 225, 0.25) 236.25px, rgba(100, 100, 225, 0.25) 305px, rgba(0, 0, 0, 0) 305px, rgba(0, 0, 0, 0) 315px, rgba(100, 100, 225, 0.25) 315px, rgba(100, 100, 225, 0.25) 383.75px, rgba(0, 0, 0, 0) 383.75px, rgba(0, 0, 0, 0) 393.75px, rgba(100, 100, 225, 0.25) 393.75px, rgba(100, 100, 225, 0.25) 462.5px, rgba(0, 0, 0, 0) 462.5px, rgba(0, 0, 0, 0) 472.5px, rgba(100, 100, 225, 0.25) 472.5px, rgba(100, 100, 225, 0.25) 541.25px, rgba(0, 0, 0, 0) 541.25px, rgba(0, 0, 0, 0) 551.25px, rgba(100, 100, 225, 0.25) 551.25px, rgba(100, 100, 225, 0.25) 620px, rgba(0, 0, 0, 0) 620px, rgba(0, 0, 0, 0) 630px);
  -moz-background-size: 100% 20px, auto;
  -webkit-background-size: 100% 20px, auto;
  -o-background-size: 100% 20px, auto;
  background-size: 100% 20px, auto;
  background-position: left top;
}

/* line 20, ../../app/stylesheets/partials/_page.sass */
div.flash.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.error a {
  color: #8a1f11;
}
/* line 22, ../../app/stylesheets/partials/_page.sass */
div.flash.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.notice a {
  color: #514721;
}
/* line 24, ../../app/stylesheets/partials/_page.sass */
div.flash.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.flash.success a {
  color: #264409;
}

/* line 26, ../../app/stylesheets/partials/_page.sass */
.highlight {
  background: yellow;
}

/* line 28, ../../app/stylesheets/partials/_page.sass */
.added {
  background: #006600;
  color: white;
}

/* line 30, ../../app/stylesheets/partials/_page.sass */
.removed {
  background: #990000;
  color: white;
}

/* line 33, ../../app/stylesheets/partials/_page.sass */
.hide {
  display: none;
}

/* line 39, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #e5ecf9;
}

/* line 42, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.border {
  padding-right: 4px;
  margin-right: 5px;
  border-right: 1px solid #dddddd;
}

/* line 45, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
.colborder {
  padding-right: 43px;
  margin-right: 44px;
  border-right: 1px solid #dddddd;
}

/* line 47, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
}

/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
hr.space {
  background: #dddddd;
  color: #dddddd;
  clear: both;
  float: none;
  width: 100%;
  height: 0.1em;
  margin: 0 0 1.45em;
  border: none;
  background: white;
  color: white;
  visibility: hidden;
}

/* line 51, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_scaffolding.scss */
form.inline {
  line-height: 3;
}
/* line 6, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.inline p {
  margin-bottom: 0;
}

/* line 10, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -120px;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#container #container_footer {
  height: 120px;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 120px;
}

/* line 45, ../../app/stylesheets/partials/_page.sass */
#container {
  overflow: hidden;
  *zoom: 1;
}
/* line 51, ../../app/stylesheets/partials/_page.sass */
#container .content {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
/* line 56, ../../app/stylesheets/partials/_page.sass */
#container .body {
  background: white;
  overflow: auto;
}

/* line 61, ../../app/stylesheets/partials/_page.sass */
header {
  width: 100%;
}
/* line 64, ../../app/stylesheets/partials/_page.sass */
header h1 {
  float: left;
}
/* line 66, ../../app/stylesheets/partials/_page.sass */
header nav {
  float: right;
}
/* line 68, ../../app/stylesheets/partials/_page.sass */
header nav li {
  float: left;
  list-style-position: none;
  list-style-type: none;
  margin-left: 15px;
}

/* line 74, ../../app/stylesheets/partials/_page.sass */
footer {
  width: 620px;
  margin: 0 auto;
  height: 80px;
  padding-top: 40px;
  overflow: hidden;
  *zoom: 1;
}

/* line 81, ../../app/stylesheets/partials/_page.sass */
.page, .window {
  overflow: hidden;
  *zoom: 1;
}

/* line 84, ../../app/stylesheets/partials/_page.sass */
.page {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page {
  overflow-x: hidden;
}
/* line 86, ../../app/stylesheets/partials/_page.sass */
.page + .page {
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .page + .page {
  overflow-x: hidden;
}

/* line 89, ../../app/stylesheets/partials/_page.sass */
.window {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .window {
  overflow-x: hidden;
}

/* line 5, ../../app/stylesheets/partials/_form.sass */
form {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password],
form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text:focus, form input.title:focus, form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus,
form textarea:focus {
  border: 1px solid #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form input.text, form input.title, form input[type=email], form input[type=text], form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form textarea {
  width: 390px;
  height: 250px;
}
/* line 8, ../../app/stylesheets/partials/_form.sass */
form div.input {
  margin-bottom: 10px;
}
/* line 11, ../../app/stylesheets/partials/_form.sass */
form input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: black;
}
/* line 16, ../../app/stylesheets/partials/_form.sass */
form input.radio {
  margin-right: 5px;
}
/* line 19, ../../app/stylesheets/partials/_form.sass */
form input.check_boxes {
  margin-left: 3px;
}
/* line 22, ../../app/stylesheets/partials/_form.sass */
form input[type="text"], form input[type="password"], form input[type="email"] {
  border-color: #d2d9dc;
  height: 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: inset 3px 3px 5px #efefef;
  -webkit-box-shadow: inset 3px 3px 5px #efefef;
  -o-box-shadow: inset 3px 3px 5px #efefef;
  box-shadow: inset 3px 3px 5px #efefef;
}
/* line 28, ../../app/stylesheets/partials/_form.sass */
form input[type="text"]:focus, form input[type="password"]:focus, form input[type="email"]:focus {
  outline: none;
  border-color: #b7d4ea;
  -moz-box-shadow: inset 3px 3px 5px #efefef, 0 0 1px px #d0e6f6;
  -webkit-box-shadow: inset 3px 3px 5px #efefef, 0 0 1px px #d0e6f6;
  -o-box-shadow: inset 3px 3px 5px #efefef, 0 0 1px px #d0e6f6;
  box-shadow: inset 3px 3px 5px #efefef, 0 0 1px px #d0e6f6;
}
/* line 33, ../../app/stylesheets/partials/_form.sass */
.field_with_errors form input {
  border-color: #fbc2c4;
}
/* line 36, ../../app/stylesheets/partials/_form.sass */
form label {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #373c3c;
}
/* line 41, ../../app/stylesheets/partials/_form.sass */
form label.collection_check_boxes {
  font-size: 13px;
}
/* line 43, ../../app/stylesheets/partials/_form.sass */
form label.collection_check_boxes input[type="checkbox"] {
  margin-right: 5px;
}
/* line 47, ../../app/stylesheets/partials/_form.sass */
form div.hint {
  clear: left;
  font-size: 9px;
  color: #555555;
  display: block;
  font-style: italic;
}
/* line 54, ../../app/stylesheets/partials/_form.sass */
form div.error {
  padding: 2px;
  float: left;
  color: #630000;
}

/* line 15, ../../app/stylesheets/screen.sass */
body {
  background-color: white;
}

/* line 18, ../../app/stylesheets/screen.sass */
h1, h2, h3, a, a:visited {
  color: #5d5d5d;
}

/* line 21, ../../app/stylesheets/screen.sass */
h3 {
  color: #373c3c;
  font-weight: bold;
  font-size: 18px;
}

/* line 26, ../../app/stylesheets/screen.sass */
a:hover {
  color: #8d8d8d;
}

/* line 29, ../../app/stylesheets/screen.sass */
header {
  padding-top: 40px;
  margin-bottom: 35px;
}
/* line 33, ../../app/stylesheets/screen.sass */
header .line {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 4px;
  background: url("../images/header_border.png") repeat top left;
}
/* line 41, ../../app/stylesheets/screen.sass */
header h1 {
  margin: 9px 0px 0px -45px;
  font-size: 24px;
}
/* line 45, ../../app/stylesheets/screen.sass */
header h1 a {
  text-decoration: none;
}
/* line 48, ../../app/stylesheets/screen.sass */
header nav {
  margin-top: 20px;
  font-size: 14px;
}
/* line 51, ../../app/stylesheets/screen.sass */
header nav a {
  text-decoration: none;
}

/* line 54, ../../app/stylesheets/screen.sass */
#error_explanation h2 {
  font-size: 14px;
}

/* line 58, ../../app/stylesheets/screen.sass */
form#new_user .input {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user .input {
  overflow-x: hidden;
}
/* line 60, ../../app/stylesheets/screen.sass */
form#new_user .input + .input {
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user .input + .input {
  overflow-x: hidden;
}
/* line 63, ../../app/stylesheets/screen.sass */
form#new_user .input.double {
  display: inline;
  float: left;
  margin-right: 0;
  width: 620px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html form#new_user .input.double {
  overflow-x: hidden;
}
/* line 67, ../../app/stylesheets/screen.sass */
form#new_user .input input[type="text"], form#new_user .input input[type="password"], form#new_user .input input[type="email"] {
  width: 293px;
}
/* line 70, ../../app/stylesheets/screen.sass */
form#new_user .input label {
  display: block;
  width: 100%;
}
/* line 74, ../../app/stylesheets/screen.sass */
form#new_user .input label.collection_check_boxes {
  width: 130px;
  float: left;
}
/* line 78, ../../app/stylesheets/screen.sass */
form#new_user .hint {
  margin: 0 auto;
  font-size: 12px;
}
/* line 82, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite {
  overflow: hidden;
  position: relative;
}
/* line 86, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite input {
  color: white;
}
/* line 89, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite span.ghost {
  position: absolute;
  font-size: 12px;
  color: #cccccc;
}
/* line 94, ../../app/stylesheets/screen.sass */
form#new_user .ghostwrite span.write {
  color: black;
}
/* line 98, ../../app/stylesheets/screen.sass */
form#new_user br {
  clear: both;
}

/* line 101, ../../app/stylesheets/screen.sass */
.basement {
  background-color: #f2fbed;
  border-top: 1px solid #dddddd;
  padding: 20px 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 106, ../../app/stylesheets/screen.sass */
.basement span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #739a5d;
  font-size: 24px;
}
/* line 111, ../../app/stylesheets/screen.sass */
.basement input[type="submit"] {
  float: right;
  border: 0;
  color: rgba(255, 255, 255, 0);
  background: url('/images/paypal_button.png?1305504059') no-repeat;
  width: 254px;
  height: 42px;
  overflow: hidden;
}
/* line 116, ../../app/stylesheets/screen.sass */
.basement input[type="submit"]:hover {
  background-position: 0px -42px;
}
/* line 118, ../../app/stylesheets/screen.sass */
.basement input[type="submit"]:active {
  background-position: 0px -84px;
}

/* line 121, ../../app/stylesheets/screen.sass */
.register_email {
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .register_email {
  overflow-x: hidden;
}
/* line 123, ../../app/stylesheets/screen.sass */
.register_email img {
  -moz-box-shadow: 0px 0px 5px 0px #c2c2c2;
  -webkit-box-shadow: 0px 0px 5px 0px #c2c2c2;
  -o-box-shadow: 0px 0px 5px 0px #c2c2c2;
  box-shadow: 0px 0px 5px 0px #c2c2c2;
  border: 1px solid #c2c2c2;
  width: 100%;
}

/* line 128, ../../app/stylesheets/screen.sass */
#splash {
  margin-bottom: 1em;
  overflow: auto;
}
/* line 131, ../../app/stylesheets/screen.sass */
#splash #intro {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #splash #intro {
  overflow-x: hidden;
}
/* line 133, ../../app/stylesheets/screen.sass */
#splash #email {
  font-size: 18px;
  display: inline;
  float: left;
  margin-right: 0;
  width: 305px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.2-p180/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #splash #email {
  overflow-x: hidden;
}
/* line 136, ../../app/stylesheets/screen.sass */
#splash #enticing {
  margin: 10px;
  padding: 10px;
  border: 1px solid #3273ad;
  background-color: #33aad4;
  color: white;
}

/* line 145, ../../app/stylesheets/screen.sass */
.clear {
  clear: both;
}

/* line 152, ../../app/stylesheets/screen.sass */
.elevator {
  width: 100%;
  position: relative;
  margin-top: 5px;
  z-index: 1;
}
/* line 157, ../../app/stylesheets/screen.sass */
.elevator h2 {
  line-height: 1;
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  /* old browsers */
  color: #0e0e0e;
  /* firefox */
  /* webkit */
  /* ie */
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.6)));
}
/* line 173, ../../app/stylesheets/screen.sass */
.elevator hr {
  color: #c2c2c2;
  background-color: #c2c2c2;
  height: 1px;
}
/* line 178, ../../app/stylesheets/screen.sass */
.elevator a.sign_up {
  position: absolute;
  top: -5px;
  right: 0px;
  text-decoration: none;
  background: url('/images/buttons.png?1303944438') no-repeat;
  width: 86px;
  height: 32px;
  overflow: hidden;
}
/* line 185, ../../app/stylesheets/screen.sass */
.elevator a.sign_up:hover {
  background-position: 0px -32px;
}
/* line 187, ../../app/stylesheets/screen.sass */
.elevator a.sign_up:active {
  background-position: 0px -64px;
}

/* line 191, ../../app/stylesheets/screen.sass */
.index_splash .image {
  float: left;
}
/* line 194, ../../app/stylesheets/screen.sass */
.index_splash .explanation {
  float: right;
  width: 253px;
}
/* line 198, ../../app/stylesheets/screen.sass */
.index_splash .explanation h3 {
  font-weight: bold;
  font-size: 18px;
  color: #272b2b;
  margin-bottom: 12px;
}
/* line 204, ../../app/stylesheets/screen.sass */
.index_splash .explanation p {
  text-align: justify;
  line-height: 1.2;
  color: #373c3c;
}

/* line 210, ../../app/stylesheets/screen.sass */
.clear hr {
  margin-bottom: 10px;
}

/* line 213, ../../app/stylesheets/screen.sass */
.quote {
  margin: 0px 50px 0px 50px;
}
/* line 215, ../../app/stylesheets/screen.sass */
.quote .words {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
/* line 219, ../../app/stylesheets/screen.sass */
.quote .person {
  text-align: right;
}

/* line 222, ../../app/stylesheets/screen.sass */
.learn_more_splash {
  text-align: justify;
  text-justify: newspaper;
  line-height: 1.2;
}

/* line 228, ../../app/stylesheets/screen.sass */
footer img {
  display: block;
  margin: 0 auto;
}
