// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset

// To configure blueprint, edit the partials/base.sass file.
@import partials/base

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/multi_line_button

// General
#error_explanation h2
  font-size: $blueprint-font-size

button.sign_up
  float: right
  +multi-line-button(#60a3d8)
  &.green
    +color-multi-line-button(#63bb4a)
  &.red
    +color-multi-line-button(#bf4040)
  &.orange
    +color-multi-line-button(#d98026)

form#new_user
  #user_mask_email_name
    border-right: 0px
    margin-right: 0px
    padding-right: 0px
    width: 200px
    text-align: right
  .fixed_inline_text
    background-color: white
    padding: 5px 5px 4px 2px
    margin: 6px 0px 6px -2px
    border: 1px solid #BBB
    border-left: 0px
    color: #333 
  .field_with_errors .fixed_inline_text
    border-color: $error_border_color
  //.input
    //+clearfix
    //&.string
      //height: 32px
  //label
    //display: block
    //width: 150px
    //float: left
    //&.collection_radio
      //float: none
      //margin-left: 150px 
  //input[type="text"]
    //float: left

#splash
  margin-bottom: 1em
  overflow: auto
  #intro
    +column($blueprint-grid-columns/2)
  #email
    font-size: 18px
    +column($blueprint-grid-columns/2, true)
  #enticing
    margin: 10px
    padding: 10px
    border: 1px solid #3273AD
    background-color: #33AAD4
    color: #FFF
