// To configure blueprint, edit the partials/base.sass file.
@import partials/base

@import compass/css3

// Import all the default blueprint modules so that we can access their mixins.
@import blueprint

// Combine the partials into a single screen stylesheet.
@import partials/page
@import partials/form
@import partials/multi_line_button

// General
body
  background-color: #FFF

h1,h2,h3,a,a:visited
  color: #5d5d5d

a:hover
  color: #8d8d8d

header
  padding-top: 40px

  .line 
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 4px
    background: url('../images/header_border.png') repeat top left

  h1 
    margin: 9px 0px 0px -45px
    font-size: 24px

    a
      text-decoration: none

  nav
    margin-top: 20px
    font-size: 14px
    a
      text-decoration: none

#error_explanation h2
  font-size: $blueprint-font-size

form#new_user
  +column(8)
  .input
    +column(4)
    & + .input
      +column(4, true)
    input 
      width: $blueprint_grid_width * 4 + $blueprint_grid_margin * (4 - 1) - 12px
    select
      +span(4)

  input[type="submit"]
    clear: both
  
  .hint
    margin: 0 auto
    font-size: 12px

  .ghostwrite
    input
      width: 155px

    span.ghost
      font-size: 12px
    span.write
      color: #FFF
      +transparent
  br
    clear: both

  input[type="submit"]
    display: block
    margin-left: 80px
    width: 100px

.register_email
  +column(4, true)
  img
    +box-shadow(#c2c2c2, 0px, 0px, 5px, 0px)
    border: 1px solid #c2c2c2
    width: 100%

#splash
  margin-bottom: 1em
  overflow: auto
  #intro
    +column($blueprint-grid-columns/2)
  #email
    font-size: 18px
    +column($blueprint-grid-columns/2, true)
  #enticing
    margin: 10px
    padding: 10px
    border: 1px solid #3273AD
    background-color: #33AAD4
    color: #FFF

$body-border-color: #c2c2c2

.clear
  clear: both

.index_splash
  .elevator
    width: 100%
    height: 110px
    position: relative
    z-index: 1
    h2
      line-height: 1
      font-size: 24px
      margin-bottom: 15px
      /* old browsers */
      color: #0e0e0e       
      /* firefox */
      //color: -moz-linear-gradient(top, #0e0e0e 0%, #4D4D4D 100%)
      /* webkit */
      //-webkit-text-fill-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e0e0e), color-stop(100%,#F00))
      /* ie */
      //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0e0e', endColorstr='#4D4D4D',GradientType=0 )
    hr
      color: $body-border-color
      background-color: $body-border-color
      height: 1px

    a.sign_up
      width: 157px
      height: 32px
      position: absolute
      top: 0px
      right: 0px
      text-decoration: none

      +sprite-background('/images/buttons.png', 157px, 32px)
      &:hover
        +sprite-row(2)
      &:active
        +sprite-row(3)
  .explanation
    +column(4)

  .image
    z-index: 999
    position: relative
    +column(4)
    img
      z-index: 1000
      position: relative
      top: -25px
      +box-shadow(#c2c2c2, 0px, 0px, 5px, 0px)
      border: 1px solid #c2c2c2
      width: 100%

  .list
    line-height: 1.25
    .bracket
      color: #7d8b3e
      float: left
      font-size: 280px
      margin-left: -38px
      line-height: 1
    +column(4, true)
    ul
      margin-top: 40px
      li
        list-style-type: none
        list-style-image: none
