- if user_signed_in?
  %h2 Congratulations!
  %p 
    You must now pay to activate your new OtherMail account.

  #diagram_many
    .icon
    Have your emails sent to:
    %br
    %b
      = current_user.mask_email
  #diagram_arrow
    .icon
  #diagram_one
    .icon
    You'll receive summaries at:
    %br
    %b
      = current_user.email
  
  %div
    Click the button below to proceed to PayPal's site to make a payment.
  = payment_service_for current_user.id, Multiplex::Application::PaypalAccount,
  :amount => 8.00, 
  :currency => 'CAD', 
  :service => :paypal do |service|
    - service.item_name "Othermail Subscription"
    - service.tax '0.00'
    - service.notify_url paypal_ipn_payments_url
    - service.return_url faq_url
    = submit_tag 'Make Payment', :class => "paypal_checkout"
- else
  %p You need to sign in to make a payment. Please do so.
