%html(style="margin: 0px; padding:0px;")
  %head
  %body(style="margin: 0px; padding:0px;")
    %style(type='text/css')= File.read(File.join(Rails.root, 'public', 'stylesheets', 'email.css'))
    .omline(style="background: url('#{path_to_image('header_border.png')}') repeat top left;")
    .omlogo
      = link_to image_tag("/images/logo.png", :alt => "Othermail", :width => 168, :height => 32), root_path
    .omcontent
      = yield
    .omfooter
      - rz = (@user || resource) rescue nil
      - if rz
        %a{:href => unsubscribe_user_url(rz, :secret => rz.delivery_secret)} Unsubscribe
