- content_for :content do
  .elevator
    %h2 Deal with fewer emails. Simplify your life.
    
    %a.sign_up{:href => sign_up_path, :title => "Get Othermail"}
    
    %hr

  = yield

  .clear
    %hr
  
  .quote
    .words "With OtherMail, email alerts matter to me again"
    .person - Harry Brundage, operations director

= render :file => 'layouts/application'

